button.nwd_boton{
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-family: 'Anton',verdana;
  font-size: 30px;
  line-height: 20px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 4px 4px 15px #000;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #B80202),
  color-stop(1, #870000)
);
background-image: -o-linear-gradient(bottom, #B80202 0%, #870000 100%);
background-image: -moz-linear-gradient(bottom, #B80202 0%, #870000 100%);
background-image: -webkit-linear-gradient(bottom, #B80202 0%, #870000 100%);
background-image: -ms-linear-gradient(bottom, #B80202 0%, #870000 100%);
background-image: linear-gradient(to bottom, #B80202 0%, #870000 100%);

}

button.nwd_boton:hover{
  box-shadow: 0px 0px 10px 2px #000;
  bottom: 18px;
  right: 18px;

}



#comenzar{
  position: relative;
  float: left;
  width:88%;
  min-height:200px;
  margin:40px;
  padding:20px;
  background-color: #fff;
  box-shadow: 0px 0px 7px #000;
  border-radius: 3px;
  font-weight: bold;
  font-family: verdana;

}

#descarga{
  position: relative;
  clear:both;
  float: left;
  /* width:100%;
  height:235px; */
  margin:40px;
  padding:20px;
  background-color: #fff;
  box-shadow: 0px 0px 7px #000;
  border-radius: 3px;
  font-weight: bold;
  font-family: verdana;

}

.nwd_fondo{
      background-color: #ccc;
      padding-top: 20px!important;

    }
    .izq{
      position: relative;
      float:left;
      /*display:block;*/
    }

    /*.dere{
      float:right;
    }*/

    .logo{
      top: 10px;
      margin-left:10px;
    }
    .nombre{
      top: 50px;


    }
    .container{
      /*height: 955px;*/
    }

    body{
      height:1000px;
    }
@media (min-width:992px){
.sidebar{
  padding-right:50px!important;
}
}

/*===================*/
div.show-top-margin {
  margin-top: 2em;
}

/*
div.separate-rows div.row {
  margin-bottom: 2em;
}
*/

/*div.tall-rows div.row div {
  height: 50px;
  padding-top: 5px;
}*/

.show-grid {
  /* margin-bottom: 2em; */
}

/* .show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #AAA;
  background-color: #EEE;
  background-color: rgba(200, 200, 200, 0.3);
} */

/* responsive-utilities-test */
.responsive-utilities-test .col-xs-6 {
  margin-bottom: 10px;
}
.responsive-utilities-test span {
  padding: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  border-radius: 4px;
}
.visible-on .col-xs-6 .hidden-xs,
.visible-on .col-xs-6 .hidden-sm,
.visible-on .col-xs-6 .hidden-md,
.visible-on .col-xs-6 .hidden-lg,
.hidden-on .col-xs-6 .visible-xs,
.hidden-on .col-xs-6 .visible-sm,
.hidden-on .col-xs-6 .visible-md,
.hidden-on .col-xs-6 .visible-lg {
  color: #999;
  border: 1px solid #ddd;
}
.visible-on .col-xs-6 .visible-xs,
.visible-on .col-xs-6 .visible-sm,
.visible-on .col-xs-6 .visible-md,
.visible-on .col-xs-6 .visible-lg,
.hidden-on .col-xs-6 .hidden-xs,
.hidden-on .col-xs-6 .hidden-sm,
.hidden-on .col-xs-6 .hidden-md,
.hidden-on .col-xs-6 .hidden-lg {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}


div.controls input,
div.controls select {
  margin-bottom: .5em;
}

#inputSeleccionado {
  border-color: rgba(82,168,236,.8);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
       box-shadow: 0 0 8px rgba(82,168,236,.6);
}

/* glyphicons */
.bs-glyphicons {
  padding-left: 0;
  padding-bottom: 1px;
  margin-bottom: 20px;
  list-style: none;
  overflow: hidden;
}
.bs-glyphicons li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  margin: 0 -1px -1px 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #ddd;
}
.bs-glyphicons .glyphicon {
  display: block;
  margin: 5px auto 10px;
  font-size: 24px;
}
.bs-glyphicons li:hover {
  background-color: rgba(86,61,124,.1);
}

@media (min-width: 768px) {
  .bs-glyphicons li {
    width: 12.5%;
  }
}

.btn-toolbar + .btn-toolbar {
  margin-top: 10px;
}

.dropdown > .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 5px;
}

/* forms */
form .row {
  margin-bottom: 1em;
}

/* navs */
.nav .dropdown-menu {
  display: none;
}

.nav .open .dropdown-menu {
  display: block;
  position: absolute;
}

footer{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  height:75px;
  /*background-color: #d1c123;*/
  font-family: verdana,arial;
  font-size:12px;
  box-shadow: 0px 0px 20px #535353;
  background: rgb(209,193,35); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(209,193,35,1) 0%, rgba(209,193,35,1) 40%, rgba(185,171,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,193,35,1)), color-stop(40%,rgba(209,193,35,1)), color-stop(100%,rgba(185,171,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(209,193,35,1) 0%,rgba(209,193,35,1) 40%,rgba(185,171,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(209,193,35,1) 0%,rgba(209,193,35,1) 40%,rgba(185,171,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(209,193,35,1) 0%,rgba(209,193,35,1) 40%,rgba(185,171,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(209,193,35,1) 0%,rgba(209,193,35,1) 40%,rgba(185,171,30,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1c123', endColorstr='#b9ab1e',GradientType=0 ); /* IE6-9 */

}


/*----------- CLEARFIX estilo para que el contenedor se adapte al tamaño del contenido aunque este flote---------------------*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
